﻿@page "/fetchpublicdata"
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecast == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Sunrise</th>
                <th>Sunset</th>
            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td>@forecast.time</td>
                    <td>@forecast.sun_rise</td>
                    <td>@forecast.sun_set</td>
                </tr>
        </tbody>
    </table>
}

@functions {
    WeatherForecast forecast;

    protected override async Task OnInitAsync()
    {
        forecast = await Http.GetJsonAsync<WeatherForecast>("/weather/location/2487956/");
    }

    class WeatherForecast
    {
        public string time { get; set; }
        public string sun_rise { get; set; }
        public string sun_set { get; set; }
    }
}
