﻿@page "/fetchapidata"
@inject HttpClient Http

<h1>Customers</h1>

<p>This component demonstrates fetching data from the API.</p>

@if (customers == null)
{
<p><em>Loading...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Postal Code</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var customer in customers){
        <tr>
            <td>@customer.Name</td>
            <td>@customer.CountryCode</td>
        </tr>
        }
    </tbody>
</table>
}

@functions {
    IEnumerable<Customer> customers;

    protected override async Task OnInitAsync()
    {
        customers = await Http.GetJsonAsync<IEnumerable<Customer>>("http://localhost:8082/api/customer");
    }
}
